export OS_AUTH_URL=test.com
export OS_IDENTITY_API_VERSION=3
export OS_PROJECT_NAME=output
export OS_PROJECT_DOMAIN_NAME=.com
export OS_USERNAME=test
export OS_USER_DOMAIN_NAME=.com
export OS_PASSWORD=1234
